# Database Configuration
MYSQL_HOST=db.uczulnmdbsslqqgxnbyd.supabase.co
MYSQL_PORT=5432
MYSQL_USER=postgres
MYSQL_PASSWORD=Somanathi@7463
MYSQL_DB=postgres

# Redis Configuration
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0

# Security & Auth
JWT_SECRET=super-secret-jwt-key-innocart-v2

# Payment Gateway (Razorpay)
RAZORPAY_KEY_ID=rzp_test_innocart123
RAZORPAY_KEY_SECRET=secret_innocart_key
USE_MOCK_PAYMENTS=true

# vite backend
VITE_BACKEND_URL=https://innocart-backend-1o0q.onrender.com/

# twilio sms credentials
TWILIO_ACCOUNT_SID=your_twilio_account_sid_here
TWILIO_AUTH_TOKEN=your_twilio_auth_token_here
TWILIO_PHONE_NUMBER=your_twilio_phone_number_here
